# Virtualenv
myenv/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
media/
staticfiles/
db.sqlite3

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
